<div id="footer" class="" *ngIf="isLoggedIn() && confirmRole()">
  <h2><img id="sfh" src="assets/fav_icon.jpg" alt="">Shop for Home</h2>
  <p>E-commerce is revolutionizing the way we all shop in India. Why do you want to hop from one store to another in
    search of the Home Decor when you can find it on the Internet in a single click? Shop for Home
    houses everything you can possibly imagine, from modern furniture like
    sofa sets, dining tables, wardrobes and from home furnishings like
    mattresses and bedsheets, we got them all covered. You name it, and you can stay
    assured about finding them all here. For those of you with erratic working hours, Shop for Home is your best bet.
    Shop in your PJs, at night or in the wee hours of the morning. This e-commerce never shuts down.</p>
  <br />

  <h2>Cash On Delivery</h2> 
  <p>We are delivering your selected products to your doorsteps without charging extra pehny. It enables you to shop
    with us without shelling out any processing fee. Applicable on all products, you can now shop without burning a hole
    in your pocket. If you've been eyeing a product for a long time. Take a look ASAP! Terms and conditions apply.
  </p>
  <br />

  <h2>What Can You Buy From Shop for Home?</h2>
  <ul>
    <li>Furniture</li>
    <li>Carpets</li>
    <li>Beds & Mattresses</li>
    <li>Storage</li>

  </ul>
  <h3><b>Email</b> : shopforhome@gmail.com</h3>
  <h3><b>Registered Office Address</b> : Shop For Home Internet Private Limited,

    Buildings Alyssa, Begonia &

    Clove Embassy Tech Village,

    Bengaluru, 560103,

    Karnataka, India</h3>
  <h3><b>Telephone</b> : 044-45614700</h3>
  <h3 align="center">© 2021-2022 ShopForHome.com</h3>
  <br>
</div>