<div class="coupon-container">
<div class="coupon">
  <div class="container">
  <img src="assets/chair_1.jpg" alt="Chair" style="width:50%;">
  </div>
  <div class="container" style="background-color:white">
    <h2><b>20% OFF ON YOUR PURCHASE</b></h2>
    <p>Own an Chair at a reduced price and super flexible EMI's options available</p>
  </div>
  <div class="container">
    <p>Use Promo Code: <span class="promo">AIP13</span></p>
    <p class="expire">Expires: July 20, 2022</p>
  </div>
</div>

<div class="coupon">
  <div class="container">
  <img src="assets/sofa_3.jpg" alt="Avatar" style="width:50%;">
  </div>
  <div class="container" style="background-color:white">
    <h2><b>30% OFF ON YOUR PURCHASE</b></h2>
    <p>The Alen 6 Seater Fabric Sofa, 6 Seater Fabric Sofa 300 at much more discounted price.</p>
  </div>
  <div class="container">
    <p>Use Promo Code: <span class="promo">PH300</span></p>
    <p class="expire">Expires: July 19, 2022</p>
  </div>
</div>

<div class="coupon">
  <div class="container">
  <img src="assets/storage_1.jpg" alt="Avatar" style="width:50%;">
  </div>
  <div class="container" style="background-color:white">
    <h2><b>10% OFF ON YOUR PURCHASE</b></h2>
    <p>Stand out of the crowd. Buy the one of the trusted Wardrobe on discounted rates.</p>
  </div>
  <div class="container">
    <p>Use Promo Code: <span class="promo">TMC10</span></p>
    <p class="expire">Expires: July 03, 2022</p>
  </div>
</div>
</div>
