<div class="card-top container-fluid">
  <div class="container d-flex">
    <div class="item" (click)="showCategory('top_offers')">
      <a >
        <img class="img-container" src="assets/top_offer.png" alt="">
        <h4>Top Offers</h4>
      </a>
    </div>
    <div class="item"  (click)="showCategory('furniture')">
      <a >
        <img class="img-container" src="assets/category_furniture.jpg" alt="">
        <h4>Furniture</h4>
      </a>
    </div>
    <div class="item"  (click)="showCategory('carpets')">
      <a >
        <img class="img-container" src="assets/category_carpets.jpg" alt="">
        <h4>Carpets</h4>
      </a>
    </div>
    <div class="item" (click)="showCategory('beds and mattresses')">
      <a >
        <img class="img-container" src="assets/category_Beds.jpg" alt="">
        <h4>Beds & Mattresses</h4>
      </a>
    </div>
    <div class="item" (click)="showCategory('storage')">
      <a >
        <img class="img-container" src="assets/category_storage.jpg" alt="">
        <h4>Storage</h4>
      </a>
    </div>
  </div>
</div>
  <div>
</div>
 

<div class="container">
  <div class="row">
    <ng-container *ngFor="let item of productList">
      <div class="card col-md-2">
        <i class='fas fa-heart' style='font-size:20px;color:red;text-align:right' (click)=addToWishlist(item) *ngIf="confirmRole()"></i>
        <img src="/assets/{{item.imageURL}}" alt="">
        <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.name}}</h5>
        <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.description}}</p>
        <p><strong>Price:</strong>₹{{item.price}}</p>
        <button *ngIf="confirmRole()" class="btn btn-primary" (click)=addtoCart(item)>Add To Cart</button>
    </div>
    </ng-container>
  </div>
</div>
